* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #f9f5f0;
}

header{
  background-color: #f8e3de;
  padding: 20px;
  
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
}

.hero-banner{
  display: grid;
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  margin-bottom: 50px;
  align-content: flex-end;
}

.tagline {
  width: 300px;
  height: 50px;
  background: #70484b;
  margin-bottom: 20px;
  flex: 0 0 90%;
  margin-left: 80%;

} 

h1 {
  font-size: 50px;
  margin: auto;
  padding-left: 40px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  /* align-items: center; */
  margin: 10px auto;
  padding-left: 5px 10%;
  line-height: 1.2;
  display: inline;
}

h4 {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  text-justify: auto;
  font-size: 20px;
  margin: 0.5;
}


#navigation {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
}

#navBar{
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  height: 50px;
}

#navBar h1{
  width: 80%;
  /* font-weight: 100; */
  color: #010101;
}

#sampleWork {
  margin: 0px 5%;
  display: grid;
  margin-bottom: 50px;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "surf surf"
  "surf surf"
  "LED calculator"
  "pastel runbuddy";
}
#aboutMe {
  margin: 0px 6%;
  display: grid;
  margin-bottom: 50px;
  grid-template-rows: 250px;
  grid-template-columns: 65% 35%;
  grid-template-areas:
  "textaboutme profilepicture";
}


.page-section {
  text-align: end;
  margin-right: 50px;
}

.heading {
  background-color: #70484b;
  color: white;
  max-width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
}

.categoryWorkGrid {
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  align-content: flex-end;
  cursor: pointer;
  border: solid;
  border-color: #70484b;
  border-width: 0.5em;
}

#surf {
  grid-area: surf;
  background-image: url("../images/02-portfolio-4.jpg");
}

#LED {
  grid-area: LED;
  background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#pastel {
  grid-area: pastel;
  background-image: url("../images/02-portfolio-3.jpg");
}

#runbuddy {
  grid-area: runbuddy;
  background-image: url("../images/02-run-buddy.jpg");
}

#profilepicture {
  grid-area: profilepicture;
  background-image: url("../images/profile-headshot.jpg");
  background-size: 100%;
  border-radius: 20px;
  box-shadow: 5px 10px 10px black;
}

#textaboutme {
  padding-right: 2em;
  text-align: justify;
}

@media only screen and (max-width: 70em) {
  #navigation {
    display: none; 
  }
  .icons {
    margin-left: auto; 
  }
  body{
    background-color: rgb(227, 230, 230);
  }
}

@media only screen and (max-width: 50em) {
  body{
    background-color: whitesmoke;
  }
  #headline {
    position: static;
    margin: 20px;
  }

  #sampleWork {
    grid-template-rows: 200px 200px 200px 200px 200px; 
    grid-template-columns: 1fr;
    grid-template-areas: 
    "surf"
    "LED"
    "calculator" 
    "pastel" 
    "runbuddy";
  }
}