/* General styles */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f9f5f0;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 45px;
  margin: auto;
  padding-left: 40px;
}

h2 {
  font-size: 40px;
  margin-top: 0px;
  color: #2f2f2f;
}

h3 {
  font-size: 25px;
  margin: 10px auto;
  line-height: 1.2;
  font-weight: 200;
  color: #f9f5f0;
}

h4 {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}

/* Header and main navigation */
header{
  background-color: #bbb8b8;
  padding: 10px;
}

#navBar{
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  height: 50px;
}

#navBar h1{
  width: 80%;
  font-weight: 150;
  color: #2f2f2f;
}

#navigation {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.hero-banner{
  display: grid;
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  margin-bottom: 40px;
  align-content: flex-end;
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
  row-gap: 0.5cm;
}

.tagline {
  width: 300px;
  height: 50px;
  background: #605a5b;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-left: 75%;
}

/* Grid CSS */
.page-section {
  text-align: end;
  padding-right: 10px;
  border-right: 0.1cm solid #2f2f2f;
}

#aboutMe {
  margin: 0px 6%;
  display: grid;
  /* margin-bottom: 20px; */
  grid-template-rows: 250px;
  grid-template-columns: 65% 35%;
  grid-template-areas:
  "textaboutme profilepicture";
}

#textaboutme {
  padding-right: 2em;
  text-align: justify;
}

#profilepicture {
  box-shadow: 5px 5px #605a5b;
  border-radius: 10px;
}

.heading {
  background-color: #605a5b;
  color: white;
  max-width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
}

#sampleWork {
  margin: 0px 5%;
  display: grid;
  /* margin-bottom: 40px; */
  grid-template-rows: 200px 200px 250px 250px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "surf surf"
  "surf surf"
  "LED calculator"
  "pastel runbuddy";
}

.categoryWorkGrid {
  display: grid;
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 5px;
  align-content: flex-end;
  cursor: pointer;
  border: 0.5em solid #605a5b;
}

/* Sample work grid */
#surf {
  grid-area: surf;
  background-image: url("../images/02-portfolio-4.jpg");
}

#LED {
  grid-area: LED;
  background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#pastel {
  grid-area: pastel;
  background-image: url("../images/02-portfolio-3.jpg");
}

#runbuddy {
  grid-area: runbuddy;
  background-image: url("../images/02-run-buddy.jpg");
}

#contact {
  display: inline-flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 70em) {
  #navigation, #contact {
    display: grid;
  }

  body{
    background-color: #e3e6e6;
  }
}

@media only screen and (max-width: 50em) {
  body{
    background-color: whitesmoke;
  }
  .tagline {
    position: static;
    margin: 30px;
  }

  #aboutMe {
    text-size-adjust: auto;
    /* margin-bottom: 20px; */
    grid-template-rows: 350px 200px;
    grid-template-columns: 100%;
    grid-template-areas:
    "textaboutme"
    "profilepicture";
  }

  #sampleWork {
    grid-template-rows: 200px 200px 200px 200px 200px; 
    grid-template-columns: 1fr;
    grid-template-areas: 
    "surf"
    "LED"
    "calculator" 
    "pastel" 
    "runbuddy";
  }
}