* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #f9f5f0;
}

header{
  background-color: #f8e3de;
  padding: 20px;
  
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
}

.hero-banner{
  display: grid;
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  margin-bottom: 50px;
  align-content: flex-end;
}


.tagline {
  box-sizing: content-box;
  width: 300px;
  height: 50px;
  background: #70484b;
}
  

h1 {
  font-size: 50px;
  margin: auto;
  padding-left: 40px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 25px;
  font-weight: 200;
}

h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#navigation {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
}

#navBar{
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  height: 50px;
}

#navBar h1{
  width: 80%;
  /* font-weight: 100; */
  color: #010101;
}

#sampleWork {
  margin: 0px 5%;
  display: grid;
  margin-bottom: 50px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "surf surf"
  "surf surf"
  "LED calculator"
  "pastel runbuddy";
}

.heading{
  background-color: #70484b;
  height: 70px;
  color: white;
  position: static;
  max-width: fit-content;
  margin: 20px -0.5px;
}

.categoryWorkGrid {
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  align-content: flex-end;
  cursor: pointer;
  border: solid;
  border-color: #70484b;
  border-width: 0.5em;
}

#surf {
  grid-area: surf;
  background-image: url("../images/02-portfolio-4.jpg");
}

#LED {
  grid-area: LED;
  background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#pastel {
  grid-area: pastel;
  background-image: url("../images/02-portfolio-3.jpg");
}

#runbuddy {
  grid-area: runbuddy;
  background-image: url("../images/02-run-buddy.jpg");
}